h1{
    background-color: blueviolet;
}

h1::after{
    content: 'Hola mundo <3';
    font-size: 15px;
    color: #fff;
}

h1::before{
    content: 'antes';
    font-size: 15px;
    color: #fff;
} 

/* ul{
    list-style: none;
} */

li::marker{
    content: 'perro';
}

li::before{
    content: '*';
}

p::first-letter{
    font-weight: bold;
    font-size: 20px;
    color: blueviolet;
}

p::first-line{
    color: chartreuse;
}

p::selection{
    background-color: crimson;
    color: #fff;
}