*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: darkblue;
    border: 5px dotted red;
    margin: 15px;
    padding: 15px;
}
#uno{
    margin: 30px;
    padding: 20px;
    background-color: darkorchid;
    height: 50px;
}